.object-list{
    max-width: 700px;
    margin: 20px auto 0;
    padding:0,20px;
}
.object-list article {
    background: #FFF;
    border:1px solid #DDD;
    border-radius:5px;
    padding: 20px;
    margin-bottom: 20px
}
.object-list article p{
    font-size: 16px;
    color:#999;
    margin-top:5px;
    line-height: 24px;
}

.object-list article a {
    height: 42px;
    border-radius:5px;
    border:2px solid #da552f;
    background: none;
    margin-top: 10px;
    color: #da552f;
    font-weight: bold;
    font-size:16px;
    text-decoration: none;
    display:flex;
    justify-content: center;
    align-items: center;
    transition:all 0.2s;
}
.object-list article a:hover{
    background:#da552f;
    color:#FFF
}
.object-list .actions{
    display:flex;
    justify-content: space-between;
    margin-bottom: 20px
}
.object-list .actions button{
    padding:10px;
    border-radius: 5px;
    border:0px;
    background:#da552f;
    color:#fff;
    font-size: 16px;
    font-weight: bold;
}
.pagination-sm .page-link {
    text-align: center;
    min-width: 2.1rem;
    min-height: 2.1rem;
}
.object-list .icons:not(:hover){
    color: #DDD;
    opacity: 0.9;
}
.object-list .icons{
    transition: 1s color cubic-bezier(0.075, 0.82, 0.165, 1),
    1s opacity cubic-bezier(0.075, 0.82, 0.165, 1);
}
.object-list .icons.red:hover{
    color: red;
    opacity: 0.9;
}
.object-list .icons.blue:hover{
    color: blue;
    opacity: 0.9;
}
.object-list .card-columns {
    column-count: 2;
}
.object-list .card{
    transition: 1s box-shadow cubic-bezier(0.075, 0.82, 0.165, 1);
}
.object-list .card:hover {
    box-shadow: 0px 0px 2px 1px #819c9c;
}